<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Home - eShop Admin', 'none')"></head>
<body>
<div class="container-fluid">

    <div th:replace="navigationMenu :: menu"></div>

    <div>
        <h2>Welcome to eShop Admin Control Panel</h2>
        Welcome <a th:href="@{/account}" sec:authentication="principal.fullName"></a>
        <span sec:authentication="principal.authorities"></span> !!!
    </div>

    <div th:replace="fragments :: footer"> </div>

</div>

</body>
</html>