<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Users - eShop Admin')"></head>
<body>
<div class="container-fluid">
    <div th:replace="navigationMenu :: menu"></div>

    <div>
        <h2>Manage Users</h2>
        <a th:href="@{/users/new}" class="fas fa-solid fa-user-plus fa-2x icon-dark mr-2" title="Add new user"></a>
        &nbsp;
        <a th:href="@{/users/export/csv}" class="fa-solid fa-file-csv fa-2x icon-dark mr-2 ml-2" title="Export to CSV"></a>
        &nbsp;
        <a th:href="@{/users/export/excel}" class="fa-solid fa-file-excel fa-2x icon-dark mr-2 ml-2" title="Export to Excel"></a>
        &nbsp;
        <a th:href="@{/users/export/pdf}" class="fa-solid fa-file-pdf fa-2x icon-dark ml-2" title="Export to PDF"></a>
    </div>

    <div th:replace="fragments :: search_form_and_message">  </div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th class="hideable-column">
                    <th th:replace="fragments :: column_link('/users', 'id', 'User ID', 'tag')"></th>
                </th>
                <th>Photos</th>
                <th class="hideable-column">
                    <th th:replace="fragments :: column_link('/users', 'email', 'E-mail', 'tag')"></th>
                </th>
                <th th:replace="fragments :: column_link('/users', 'firstName', 'First Name', 'none')"></th>
                <th th:replace="fragments :: column_link('/users', 'lastName', 'Last Name', 'none')"></th>
                <th>Roles</th>
                <th th:replace="fragments :: column_link('/users', 'enabled', 'Enabled', 'none')"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${listUsers}">
                    <td class="hideable-column">[[${user.id}]]</td>
                    <td>
                        <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
                        <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}"
                            style="width: 100px"/>
                    </td>
                    <td class="hideable-column">[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.roles}]]</td>
                    <td>
                        <div th:replace="fragments :: entity_status(${user.enabled}, 'User', '/users/'+${user.id} )"></div>
                    </td>
                    <td>
                        <a th:replace="fragments :: entity_edit('/users/edit/' + ${user.id}, 'User')"></a>
                        &nbsp;
                        <a th:replace="fragments :: entity_delete('/users/delete/' + ${user.id}, 'User', ${user.id})"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="less-details">
        <div th:each="user: ${listUsers}" class="row m-1">
            <div class="col-4">
                <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
                <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}"
                     style="width: 100px"/>
            </div>
            <div class="col-8">
                <div>[[${user.fullName}]]</div>
                <div>[[${user.roles}]]</div>
                <div class="mt-2">
                    <div th:replace="fragments :: entity_status(${user.enabled}, 'User', '/users/'+${user.id} )"></div>
                    &nbsp;
                    <a th:replace="fragments :: entity_edit('/users/edit/' + ${user.id}, 'User')"></a>
                    &nbsp;
                    <a th:replace="fragments :: entity_delete('/users/delete/' + ${user.id}, 'User', ${user.id})"></a>
                </div>
            </div>

            <div>&nbsp;</div>
        </div>
    </div>



    <div th:replace="fragments :: pagination('/users', 'Users')"></div>

    <div th:replace="modal_fragments :: modal_confirmation('Delete Confirmation')"></div>

    <div th:replace="fragments :: footer"> </div>

</div>
<script type="text/javascript">
    $(document).ready(function (){
        $(".link-delete").on("click", function (e){
            e.preventDefault();
            showDeleteConfirmModal($(this), 'user');
        });
    });

    function clearFilter(){
        window.location = "[[@{/users}]]"
    }
</script>
<script th:src="@{/js/common_list.js}"></script>
</body>
</html>