<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Categories - eShop Admin')"></head>
<body>
  <div class="container-fluid">
    <div th:replace="navigationMenu :: menu"></div>

    <div>
      <h2>Manage Categories</h2>
      <a th:href="@{/categories/new}" class="fas fa-solid fa-folder-plus fa-2x icon-dark mr-2" title="Add new category"></a>
      &nbsp;
      <a th:href="@{/categories/export/csv}" class="fa-solid fa-file-csv fa-2x icon-dark mr-2 ml-2" title="Export to CSV"></a>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center">
      [[${message}]]
    </div>

    <div th:replace="fragments :: search_form('/categories/page/1')"></div>

    <div class="full-details">
      <table class="table table-bordered table-striped table-hover table-responsive-xl">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Category image</th>
            <th>
              <a class="text-white" th:href="@{'/categories/page/' + ${pageNum} + '?sortDir=' + ${reverseSortDir}
                                              + ${keyword != null ? '&keyword=' + keyword : ''}}">Category Name</a>
              <span th:class="${reverseSortDir == 'desc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
            </th>
            <th>Alias</th>
            <th>Enabled</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="category : ${listCategories}">
            <td class="hideable-column">[[${category.id}]]</td>
            <td>
              <img th:if="${category.image != 'default.png'}" th:src="@{${category.imagePath}}"
                   style="width: 100px" class="img-fluid"/>
              <span th:if="${category.image == 'default.png'}" class="fa-regular fa-folder-open fa-3x icon-silver"></span>
            </td>
            <td>[[${category.name}]]</td>
            <td>[[${category.alias}]]</td>
            <td>
              <a th:if="${category.enabled == true}" class="fa-solid fa-toggle-on fa-2x icon-green"
                  th:href="@{'/categories/' + ${category.id} + '/enabled/false'}" title="Disable category"></a>
              <a th:if="${category.enabled != true}" class="fa-solid fa-toggle-off fa-2x icon-red"
                 th:href="@{'/categories/' + ${category.id} + '/enabled/true'}" title="Enable category"></a>
            </td>
            <td>
              <a class="fas fa-edit fa-2x icon-green"
                 th:href="@{'/categories/edit/' + ${category.id}}" title="Edit this category"></a>
              &nbsp;
              <a th:if="${category.hasChildren != true}" class="fas fa-trash fa-2x icon-dark link-delete" th:entityId="${category.id}"
                 th:href="@{'/categories/delete/' + ${category.id}}" title="Delete this category"></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div th:replace="modal_fragments :: modal_confirmation('Delete Confirmation')"></div>

    <div th:if="${keyword != null}" class="text-center">
      <span>Search result does not show categories in hierarchical form</span>
      <div th:replace="fragments :: pagination('/categories', 'Categories')"></div>
    </div>
    <th:block th:unless="${keyword != null}">
      <div th:replace="fragments :: pagination('/categories', 'Top-Level Categories')"></div>
    </th:block>

    <div th:replace="fragments :: footer"></div>

  </div>

  <script type="text/javascript">

    $(document).ready(function (){
      $(".link-delete").on("click", function (e){
        e.preventDefault();
        showDeleteConfirmModal($(this), 'category');
      });
    });

    function clearFilter(){
      window.location = "[[@{/categories}]]"
    }

  </script>
  <script th:src="@{/js/common_list.js}"></script>
</body>

</html>