<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Products - eShop Admin', 'none')"></head>
<body>
    <div class="container-fluid">
      <div th:replace="navigationMenu :: menu"></div>

      <div>
        <h2>Manage Products</h2>
        <a th:href="@{/products/new}" class="fas fa-solid fa-square-plus fa-2x icon-dark mr-2" title="Add new Product"></a>
        &nbsp;
        <a th:href="@{/products/export/csv}" class="fa-solid fa-file-csv fa-2x icon-dark mr-2 ml-2" title="Export to CSV"></a>
      </div>

      <div th:replace="fragments :: search_form_and_message">  </div>

      <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
          <thead class="thead-dark">
            <tr>
              <th class="hideable-column">
                <th th:replace="fragments :: column_link('/products', 'id', 'ID', 'tag')"></th>
              </th>
              <th>Main Image</th>
              <th th:replace="fragments :: column_link('/products', 'name', 'Product Name', 'none')"></th>
              <th th:replace="fragments :: column_link('/products', 'brand', 'Brand', 'none')"></th>
              <th th:replace="fragments :: column_link('/products', 'category', 'Category', 'none')"></th>
              <th>Enabled</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="product : ${listProducts}">
              <td class="hideable-column">[[${product.id}]]</td>
              <td>
                <img th:if="${product.mainImage != ''}" th:src="@{${product.mainImagePath}}"
                     style="width: 150px" class="img-fluid"/>
                <span th:if="${product.mainImage == ''}" class="fa-solid fa-image fa-3x icon-silver"></span>
              </td>
              <td>
                <a class="link-detail"
                   th:href="@{'/products/detail/' + ${product.id}}"
                   th:title="${product.name}">
                  [[${product.shortName}]]
                </a>
              </td>
              <td>[[${product.brand.name}]]</td>
              <td>[[${product.category.name}]]</td>
              <td><div th:replace="fragments :: entity_status(${product.enabled}, 'Product', '/products/'+${product.id} )"></div></td>
              <td>
                <a class="fas fa-file-alt fa-2x icon-green link-detail"
                   th:href="@{'/products/detail/' + ${product.id}}"
                   title="View details of this product"></a>
                &nbsp;
                <a th:replace="fragments :: entity_edit('/products/edit/' + ${product.id}, 'Product')"></a>
                &nbsp;
                <a th:replace="fragments :: entity_delete('/products/delete/' + ${product.id}, 'Product', ${product.id})"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="less-details">

      </div>

      <div th:replace="fragments :: pagination(${moduleURL}, 'Products')"></div>

      <div th:replace="modal_fragments :: modal_confirmation('Delete Confirmation')"></div>

      <div class="modal fade" id="detailModal">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">

          </div>
        </div>
      </div>

      <div th:replace="fragments :: footer"> </div>


    </div>
    <script type="text/javascript">
      moduleURL = "[[@{/products}]]";

      $(document).ready(function (){
        $(".link-delete").on("click", function (e){
          e.preventDefault();
          showDeleteConfirmModal($(this), 'product');
        });
      });


      $(".link-detail").on("click", function (e) {
        e.preventDefault();
        linkDetailURL = $(this).attr("href");

        $("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
      });

      function clearFilter(){
        window.location = "[[@{/products}]]"
      }
    </script>
    <script th:src="@{/js/common_list.js}"></script>
</body>
</html>